ion-loading.custom {
    --backdrop-opacity: #000000;
    --background: #000000;
    --height: ;
    --max-height: ;
    --max-width: ;
    --min-height: ;
    --min-width: ;
    --spinner-color: #faef33;
    --width:
}

ion-searchbar.custom {
    --background: #817f99;
    --color: #fff;
    --placeholder-color: #fff;
    --icon-color: #fff;
    --clear-button-color: #fff;
    margin-top: 1vh;
  
    --border-radius: 8px;
}

.title {
    display: -webkit-box; /* Necessário para criar a caixa flexível */
    -webkit-box-orient: vertical; /* Define orientação vertical */
    -webkit-line-clamp: 2; /* Limita a 2 linhas */
    overflow: hidden; /* Esconde o excesso de texto */
    text-overflow: ellipsis; /* Adiciona reticências no final */
    white-space: normal; /* Permite que o texto quebre em várias linhas */
    margin-left: 10%;
  }