<ion-content *ngIf="livro">
  <div class="book-details-container">
    <!-- Imagem do livro -->
    <ion-img [src]="livro.volumeInfo.imageLinks?.smallThumbnail" alt="{{ livro.volumeInfo.title }}"></ion-img>
    
    <!-- Título e subtítulo -->
    <h1 class="book-title">{{ livro.volumeInfo.title }}</h1>
    <h2 class="book-subtitle" *ngIf="livro.volumeInfo.subtitle">{{ livro.volumeInfo.subtitle }}</h2>

    <!-- Autores -->
    <p class="book-authors">
      <strong>Autores:</strong> {{ livro.volumeInfo.authors?.join(', ') }}
    </p>

    <!-- Editora e data de publicação -->
    <p>
      <strong>Editora:</strong> {{ livro.volumeInfo.publisher }}
    </p>
    <p>
      <strong>Data de Publicação:</strong> {{ livro.volumeInfo.publishedDate }}
    </p>

    <!-- Categorias -->
    <p class="book-categories">
      <strong>Categorias:</strong> {{ livro.volumeInfo.categories?.join(', ') }}
    </p>

    <!-- Descrição com dropdown -->
    <ion-item lines="none">
      <ion-label>
        <strong>Descrição</strong>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="toggleDescription()">
          <ion-icon [name]="showDescription ? 'chevron-up' : 'chevron-down'"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <div *ngIf="showDescription" class="book-description">
      <p>{{ livro.volumeInfo.description }}</p>
    </div>
  </div>

  <!-- Botão fixo de adicionar -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    
    <div *ngIf="btnAdd == 'lib'">
      <ion-fab-button (click)="adicionarEstante(livro.id, livro.volumeInfo.title, livro.volumeInfo.imageLinks?.thumbnail)">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </div>
    <div *ngIf="btnAdd == 'bio'">
      <ion-fab-button (click)="adicionarResenha()">
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-fab-button>
    </div>
  </ion-fab>
</ion-content>
