<ion-content color="creme">
  <ion-grid class="full-height">
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="auto">
        <ion-title color="bordo">
          Bem-vindo
        </ion-title>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="auto">
        <ion-button color="ouro" shape="round" class="ion-margin">
          <ion-text color="cinza">
            Sign In
          </ion-text>
        </ion-button>
      <ion-button color="ouro" shape="round" class="ion-margin">
        <ion-text color="cinza">
          Sign Up
        </ion-text>
      </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
