<ion-card #swipeCard>
  <ion-card-content>
    <!-- Resenhas do usuário -->
    <h1>
      {{perfil.username}}
    </h1>
    <div class="description-container">
      <ion-text>
        <div *ngFor="let resenha of perfil.resenhas; let i = index" class="resenha-item">
          <h3>{{ resenha.titulo_resenha }}</h3>
          {{ resenha.resenha }}
          <br />
          <strong>Categorias:</strong>
          <span *ngFor="let categoria of resenha.categorias_livro; let j = index">
            {{ categoria }}<span *ngIf="j < resenha.categorias_livro.length - 1">, </span>
          </span>
        </div>
      </ion-text>
    </div>
    
    <!-- Interesses do usuário -->
    <div class="info-section">
      <ion-icon name="book-outline" class="info-icon"></ion-icon>
      <strong>Interesses:</strong>
      <span *ngFor="let interesse of perfil.interesses_usuario; let i = index">
          {{ interesse }}
          <span *ngIf="i < perfil.interesses_usuario.length - 1">, </span>
      </span>
    </div>
  </ion-card-content>
</ion-card>