ion-card {
  height: 80vh;
  border-radius: 14px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 16px;
  position: relative;

  transition: transform 0.5s ease-out;
  will-change: transform;
}

h1 {
  margin: 20px 15px 10px;
  font-weight: bold;
}

ion-card-content {
  padding: 16px;
}

.description-container {
  margin: 20px 15px;

  max-height: 52.5vh;
  text-align: justify;

  overflow-y: auto;
}

.description-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  color: #444;
  margin: 0 15px;
}

.info-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px; /* Ajuste o espaço entre os elementos conforme necessário */
  margin: 0 15px;
}

.info-section strong {
  margin-right: 5px;
}

.info-icon {
  margin-right: 5px;
}

.like-animation {
  border: 2px solid green;
  box-shadow: 0 4px 8px rgba(0, 128, 0, 0.5);
}

.dislike-animation {
  border: 2px solid red;
  box-shadow: 0 4px 8px rgba(255, 0, 0, 0.5);
}

/* Estilizar o feedback visual de "like" e "dislike" */
.like-animation::before, .dislike-animation::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.like-animation::before {
  content: 'Like';
  color: green;
}

.dislike-animation::before {
  content: 'Dislike';
  color: red;
}

.resenha-item {
  margin-bottom: 15px;
}

.resenha-item h3 {
  font-size: 16px;
  font-weight: bold;
}

.info-section strong {
  font-size: 16px;
}