ion-card {
  height: 50vh;
  border-radius: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 16px;
  position: relative;

  transition: transform 0.5s ease-out;
  will-change: transform;
}

ion-card-content {
  padding: 16px;
}

.description-container {
  margin: 16vh 0 8vh 0;

  margin-top: 10px;
  text-align: justify;
}

.description-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  color: #444;
  margin: 15px;
}

.info-section {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.info-icon {
  font-size: 18px;
  margin-right: 8px;
  color: #666;
}

.info-label {
  font-size: 14px;
  color: #666;
}

.like-animation {
  border: 2px solid green;
  box-shadow: 0 4px 8px rgba(0, 128, 0, 0.5);
}

.dislike-animation {
  border: 2px solid red;
  box-shadow: 0 4px 8px rgba(255, 0, 0, 0.5);
}

/* Estilizar o feedback visual de "like" e "dislike" */
.like-animation::before, .dislike-animation::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.like-animation::before {
  content: 'Like';
  color: green;
}

.dislike-animation::before {
  content: 'Dislike';
  color: red;
}