.cadastro-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  padding: 10px 20px; /* Ajuste para o conteúdo não ficar tão colado nas bordas */

  ion-item {
    margin-bottom: 10px; 
  }

  ion-button {
    --background: #007bff;
    --color: white;
    --border-radius: 50px !important; /* Bordas arredondadas */
    margin-top: 20px;
    padding: 10px;
  }

  .login-link {
    margin-top: 10px;
    text-align: center;
  }

  .login-link ion-text {
    display: block;
    margin-top: 8px;
  }
}

ion-router-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}
