.cadastro-container {
    padding: 20px;
    ion-item {
      margin-bottom: 15px;
    }
    ion-button {
      --background: #007bff;
      --color: white;
      margin-top: 20px;
      padding: 10px;
    }
  }

  .login-link {
    margin-top: 20px;
    text-align: center;
    padding: 55px;
  }
  
  
  