<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="cadastro-container">
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input type="text" [(ngModel)]="user" required></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" [(ngModel)]="email" required></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" [(ngModel)]="password" required></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Sobrenome</ion-label>
          <ion-input type="password" required></ion-input>
        </ion-item>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" color="primary" (click)="submit()">Cadastrar</ion-button>

        <ion-col size="12" class="register-link">
          <a href="/login">Já possui cadastro? Voltar.</a>
        </ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
