<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ perfil?.username || 'Perfil' }}</ion-title>  
    <ion-buttons *ngIf="userViewId == userCurrentId" slot="end">
      <ion-button (click)="logout()">
        <ion-text> Logout </ion-text>
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="perfil">
    <ion-card-content>
        <!-- Botão para Editar Perfil -->
         <ion-toolbar *ngIf="userViewId == userCurrentId">
              <ion-buttons slot="end">
                <ion-button class="ion-margin" color="primary" (click)="editarPerfil()">
                    Editar Perfil
                    <ion-icon name="create-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
         </ion-toolbar>

      <!-- Biografia -->
      <ion-item>
        <ion-label>
          <h2>Biografia</h2>
          <p>{{ perfil?.biografia || 'Sem biografia' }}</p>  
        </ion-label>
      </ion-item>

      <!-- Interesses -->
      <ion-item>
        <ion-label>
          <h2>Interesses</h2>
          <p *ngIf="perfil?.interesses_usuario && perfil?.interesses_usuario.length > 0; else noInterests">
            <span *ngFor="let interesse of perfil?.interesses_usuario; let i = index">
              {{ interesse.preferencia }}<span *ngIf="i < perfil?.interesses_usuario.length - 1">, </span>
            </span>
          </p>
          <ng-template #noInterests>
            <p>Sem interesses selecionados</p>
          </ng-template>
        </ion-label>
      </ion-item>

      <!-- Resenhas -->
      <ion-item *ngIf="perfil?.resenhas && perfil?.resenhas.length > 0; else noResenhas">
        <ion-label>
          <h2>Resenhas</h2>
          <div class="reviews-container">
            <div *ngFor="let resenha of perfil?.resenhas">
              
              <h2>{{ resenha.nome_livro || 'Sem nome' }}</h2>
              <p class="ion-margin"><strong>Resenha:</strong> {{ resenha.titulo_resenha || 'Sem título' }}</p>
              <p class="ion-margin"> {{ resenha.resenha || 'Sem conteúdo' }}</p>

              <!-- Verificação de categorias_livro -->
              <p><strong>Categorias:</strong> 
                <ng-container *ngIf="resenha.isCategoriasArray">
                  {{ resenha.categorias_livro.join(', ') || 'Sem categorias' }}
                </ng-container>
                <ng-container *ngIf="!resenha.isCategoriasArray">
                  <span>Dados de categorias inválidos</span>
                </ng-container>
              </p>
              <hr>
            </div>
          </div>
        </ion-label>
      </ion-item>
      <ng-template #noResenhas>
        <p>Sem resenhas cadastradas.</p>
      </ng-template>
    </ion-card-content>
  </ion-card>

  <!-- Botões de Ações -->

    <ion-button class="ion-margin" *ngIf="userViewId != userCurrentId" expand="full" color="danger">
      Denunciar e Bloquear Usuário
    </ion-button>


    <ion-button class="ion-margin" *ngIf="userViewId != userCurrentId" expand="full" color="medium">
      Desfazer Match
    </ion-button>
</ion-content>
