<ion-header>
  <ion-toolbar>
    <ion-title>Selecione Interesses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Search bar for filtering preferences -->
  <ion-searchbar [(ngModel)]="searchTerm" placeholder="Buscar interesses" debounce="500" ></ion-searchbar>
  
  <!-- List of selected preferences -->
  <div *ngIf="selectedPreferences.length > 0">
    <h4>Minhas preferências</h4>
    <div class="selected-chips">
      <ion-chip *ngFor="let pref of selectedPreferences">
        <ion-label>{{ pref.preferencia }}</ion-label>
        <ion-icon name="close-circle" (click)="removePreference(pref)"></ion-icon>
      </ion-chip>
    </div>
  </div>

  <h4>Preferências</h4>
  <div class="preference-list" *ngFor="let category of preferences">    
    <!-- Iterar sobre o array de 'preferencias' dentro de cada categoria -->
    <ion-chip *ngFor="let pref of category.preferencias" (click)="selectPreference(pref)">
      <ion-label>{{ pref.preferencia }}</ion-label>
    </ion-chip>
  </div>
</ion-content>

