.description-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 16px;
  gap: 20px;
}

.book-title-card {
  --ion-background-color: #f4f4f4;
  --ion-card-title-font-size: 1.2rem;
  --ion-color: #222;
  text-align: center;
  padding: 10px;
}

.title-input {
  --ion-background-color: #fff;
  --ion-color: #666;
  --highlight-color-focused: #3880ff;
  margin-bottom: 16px;
}

.custom-textarea-container {
  display: flex;
  flex-direction: column;
}

.custom-textarea {
  width: 100%;
  height: 30vh;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
  resize: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
  background: #f9f9f9;
}

.custom-textarea:focus {
  border-color: #3880ff;
  outline: none;
  box-shadow: 0 4px 6px rgba(56, 128, 255, 0.2);
}

ion-label h2 {
  text-align: center;
  color: #333;
  font-size: 1.4rem;
  margin-bottom: 16px;
  line-height: 1.5;
}

ion-button {
  margin-top: 10px;
}
