<ion-content>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>{{ tituloLivro }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="description-container">
    <ion-label>
      <h2>Conte para o mundo o que torna este livro especial para você</h2>
    </ion-label>

    <!-- Campo para título da resenha -->
    <ion-item class="title-input">
      <ion-input [(ngModel)]="tituloResenha" 
      type="text" labelPlacement="floating">
        <div slot="label">Título da Resenha</div>
      </ion-input>
    </ion-item>

    <!-- Campo de texto para resenha -->
    <div class="custom-textarea-container">
      <textarea 
        id="customTextarea" 
        class="custom-textarea" 
        placeholder="Compartilhe os sentimentos que este livro despertou em você, sem ser explícito. Não se preocupe, o mistério faz parte da diversão!" 
        [(ngModel)]="textoResenha">
      </textarea>
    </div>

    <!-- Botão de envio -->
    <ion-button expand="block" (click)="enviarResenha()">Enviar</ion-button>

    <!-- Indicador de progresso -->
    <div class="progress-indicator">
      <ion-progress-bar *ngIf="isSaving" type="indeterminate"></ion-progress-bar>
    </div>
  </div>
</ion-content>
