<ion-content class="content-center">
  <ion-header>
    <ion-toolbar color="primary">
    </ion-toolbar>
  </ion-header>

  <div class="description-container">
    <ion-label>
      <h2>Conte para o mundo o que torna este livro especial para você</h2>
    </ion-label>

    <div class="custom-textarea-container">
      <textarea id="customTextarea" class="custom-textarea" placeholder="Compartilhe os sentimentos que este livro despertou em você, sem ser explícito. Não se preocupe, o mistério faz parte da diversão!"></textarea>
    </div>
    

    <ion-button expand="block">Enviar</ion-button>
  </div>

  
  <div class="progress-indicator">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </div>
 
</ion-content>
