.login-container {
  display: flex;
  flex-direction: column;
  justify-content: flex; 
  height: 100%;
  padding-bottom: 15px; 

  ion-item {
    margin-bottom: 10px; 
  }

  ion-button {
    --background: #007bff;
    --color: white;
    --border-radius: 60px;
    padding: 10px 20px;
    margin-top: 100px; 
  }

  .forgot-password-link,
  .register-link {
    text-align: center;
    margin-top: 8px; 
  }

  .forgot-password-link ion-text,
  .register-link ion-text {
    display: block;
    margin-top: 8px; 
  }
}

.image-container {
  text-align: center;
  margin-bottom: 15px; 
  flex-grow: 1; 
}

ion-router-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}