<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="login-container">
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Usuário</ion-label>
          <ion-input type="email" [(ngModel)]="user" required></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" [(ngModel)]="password" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" color="primary" (click)="submit()">Entrar</ion-button>
      </ion-col>
      <ion-col size="12" class="register-link">
        <ion-text>Não possui uma conta? <ion-router-link [routerLink]="['/cadastro-usuario']">Cadastre-se</ion-router-link></ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
