<ion-content>
  <!-- Filtros para visualizar coleções ou todos -->
  <ion-segment [(ngModel)]="tipoVisualizacao" (ionChange)="alterarVisualizacao()">
    <ion-segment-button value="todos">
      Todos
    </ion-segment-button>
    <ion-segment-button value="colecoes">
      Coleções
    </ion-segment-button>
  </ion-segment>

  <!-- Grid de livros -->
   <!-- estantes.estante01 pra acessar dentro do value o json de estantes e selecionar a estante-->
<!--
  <ion-grid *ngIf="livros">
    <ion-row>
      <ion-col size="6" *ngFor="let livro of livros">
        <ion-card (click)="redirecionandoInfoLivro(livro.id)">
          <ion-img [src]="livro.thumbnail ? livro.thumbnail : 'assets/imgs/padrao.jpg'"></ion-img>
        </ion-card>
        <ion-label class="title">
          {{ livro.title }}
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
-->

  <!-- Mensagem se não houver livros -->
  <ion-label *ngIf="livros.length === 0" class="sem-livros">
    Sua estante está vazia. Adicione livros para começar!
  </ion-label>

  <!-- Botão fixo de adicionar -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="redirecionarBuscarLivro()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
