<ion-header>
  <ion-toolbar>
    <ion-title>Minha Estante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Segmento de Coleções -->
  <ion-segment [(ngModel)]="colecaoSelecionada" (ionChange)="carregarLivros(colecaoSelecionada)">
    <ion-segment-button value="-TODOS">
      <!--Todos-->
      <!--READ da estante no Storage-->
      <ion-icon name="book-outline"></ion-icon>
    </ion-segment-button>
    
    <ion-segment-button value="-RESENHADOS">
    <!--Resenhados-->
    <!--request GET dos livros resenhado, tem que retornar um array de jsons no formato id-tittle-thumb: será salvo no Firebase este json+resenha para cada resenha feita pelo usuario-->
      <ion-icon name="newspaper-outline"></ion-icon>
    </ion-segment-button>

    <ion-segment-button value="-FAVORITOS">
      <!--Favoritos-->
      <!--READ da estante FAVORITO no Storage: criar botão de adicionar favorito no layout da visualização do livro no Todos ou Resenhados, e nessa visualização funcionar como botão de excluir dos favoritos -->
      <ion-icon name="star-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <!-- Grade de Livros -->
  
  <ion-grid *ngIf="livros.length > 0">
    <ion-row>
      <ion-col size="6" *ngFor="let livro of livros">
        <ion-card  class="livro-card">
          <!-- Contêiner para os botões sobre a imagem -->
          <div class="overlay-buttons">
            <ion-button *ngIf="colecaoSelecionada !== '-FAVORITOS'" color="danger" (click)="favoritarLivro(livro)">
              <ion-icon name="heart"></ion-icon>
            </ion-button>
            <ion-button *ngIf="colecaoSelecionada != '-RESENHADOS'" color="primary" (click)="excluirLivro(livro.id, colecaoSelecionada)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </div>
      
          <!-- Imagem do livro -->
          <ion-img [src]="'assets/imgs/capa.jpg'" (click)="redirecionandoInfoLivro(livro.id)"></ion-img>
        </ion-card>
      
        <!-- Título do livro abaixo da imagem -->
        <ion-label class="title">
          {{ livro.title }}
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Mensagem para Estante Vazia -->
  <ion-label *ngIf="livros.length === 0" class="sem-livros">
    Sua estante está vazia. Adicione livros para começar!
  </ion-label>

  <!-- Botão fixo de adicionar -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="redirecionarBuscarLivro()"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>