.livro-card {
  margin: 10px 0;
  box-shadow: none;
}

.livro-titulo {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  color: #333;
  margin-top: 5px;
}

.livro-autor {
  font-size: 12px;
  text-align: center;
  color: #666;
}

.sem-livros {
  text-align: center;
  margin-top: 20px;
  font-style: italic;
  color: #aaa;
}

.title {
  display: -webkit-box; /* Necessário para criar a caixa flexível */
  -webkit-box-orient: vertical; /* Define orientação vertical */
  -webkit-line-clamp: 2; /* Limita a 2 linhas */
  overflow: hidden; /* Esconde o excesso de texto */
  text-overflow: ellipsis; /* Adiciona reticências no final */
  white-space: normal; /* Permite que o texto quebre em várias linhas */
  margin-left: 10%;
}

.livro-card {
  position: relative;
}

.overlay-buttons {
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: flex;
  gap: 8px;
  z-index: 10;
}

.overlay-buttons ion-button {
  --padding-start: 8px;
  --padding-end: 8px;
}
