
.instruction-container {
    text-align: center;
    margin: 20px;
  }
  
  h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1em;
    margin-bottom: 20px;
  }
  
  ion-button {
    background-color: #3880ff;
    color: white;
  }

  ion-content {
    --padding-top: 50%;
    --padding-bottom: 50%;
  }
  