/* chat.page.scss */

/* Estilos para mensagens enviadas */
.sent {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  margin-bottom: 10px;
}

.sent ion-label {
  background-color: #dcf8c6; /* Cor verde clara do WhatsApp */
  color: black;
  padding: 10px;
  border-radius: 15px;
  max-width: 70%;
  word-wrap: break-word;
}

/* Estilos para mensagens recebidas */
.received {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  margin-bottom: 10px;
}

.received ion-label {
  background-color: #f1f0f0; /* Cor de fundo das mensagens recebidas */
  color: black;
  padding: 10px;
  border-radius: 15px;
  max-width: 70%;
  word-wrap: break-word;
}

ion-item {
  display: flex;
  flex-direction: column;
}

ion-label h3 {
  margin: 0;
  font-size: 12px;
  color: gray;
}

ion-label p {
  margin: 0;
  font-size: 14px;
}
