/* Estilos para mensagens enviadas */
.sent {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 10px;
}

.sent ion-chip {
  background-color: #f1f0f0;
  color: black;
  padding: 10px;
  border-radius: 15px;
  max-width: 70%; /* Limita a largura das mensagens */
  word-wrap: break-word;
  text-align: left;
  display: inline-block; /* Garante que o fundo acompanhe o tamanho do conteúdo */
}

/* Estilos para mensagens recebidas */
.received {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 10px;
}

.received ion-chip {
  background-color: #f1f0f0;
  color: black;
  padding: 10px;
  border-radius: 15px;
  max-width: 70%; /* Limita a largura das mensagens */
  word-wrap: break-word;
  text-align: left;
  display: inline-block; /* Garante que o fundo acompanhe o tamanho do conteúdo */
}

ion-item {
  display: flex;
  flex-direction: row; /* Alterado de column para row */
  width: 100%;
  padding: 0; /* Remove o padding padrão */
}

ion-label {
  display: block;
  width: auto;
  max-width: 100%; /* Limita a largura do label */
  word-wrap: break-word;
}

ion-label h3 {
  margin: 0;
  font-size: 12px;
  color: gray;
}

ion-label p {
  margin: 0;
  font-size: 14px;
}
