<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Lista de mensagens reais -->
  <div *ngIf="messages.length > 0; else noMessages">
    <ion-list>
      <ion-item *ngFor="let message of messages">
        <ion-icon slot="start" name="chatbubbles-outline" color="primary"></ion-icon>
        <ion-label>
          <h2>{{ message.from }}</h2>
          <p>{{ message.text }}</p>
          <ion-note>{{ message.timestamp | date: 'short' }}</ion-note>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <!-- Mensagem para caso não haja conversas -->
  <ng-template #noMessages>
    <div class="ion-padding">
      <h2>Sem mensagens no momento.</h2>
    </div>
  </ng-template>
</ion-content>
