<ion-header>
  <ion-toolbar>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="salvarAlteracoes()">
    <ion-item>
      <ion-label position="floating">Nome de Usuário</ion-label>
      <ion-input [(ngModel)]="perfil.username" name="username" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Biografia</ion-label>
      <ion-input [(ngModel)]="perfil.biografia" name="biografia"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Interesses</ion-label>
      <ion-input [(ngModel)]="perfil.interesses_usuario" name="interesses_usuario"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Resenhas</ion-label>
      <ion-input [(ngModel)]="perfil.resenhas" name="resenhas"></ion-input>
    </ion-item>

    <ion-button type="submit" expand="full">Salvar Alterações</ion-button>
  </form>
</ion-content>
